
.m-background {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #070c1be3;
  }
  .m-login-title {
    width: 100%;
    margin: 30px 0;
    text-align: center;
    font-size: 15pt;
    font-weight: bolder;
  }
  .m-login-vk-login {
    width: 70%;
    background: #4d75a3;
    color: white;
    border-radius: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    display: grid;
    grid-template-columns: 30px 1fr;
  }
  .m-login-vk-logo {
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 25px;
    display: inline-grid;
    justify-items: center;
    background-position-y: 50%;
    margin-left: 15px;
  }
  
.m-login-vk-text {
    line-height: 40px;
  }
  
.m-login-input-container input {
  width: calc(100% - 60px);
  background: #f3f6ff;
  border-radius: 50px;
  padding: 5px 40px;
  font-size: 11pt;
  height: 30px;
  color: #768099;
}
.m-login-input-container {
  position: relative;
  margin: 10px 0;
}
.m-login-input-container span {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 12pt;
  text-align: center;
  color: #768099;
}
.m-login-confirm {
  padding: 10px 30px;
  margin: 20px auto 0px auto;
  background: #386bee;
  border-radius: 50px;
  color: white;
  box-shadow: 0 0 3px #386bee;
  font-size: 10pt;
  display: block;
}

.m-login-switch-button {
  display: block;
  padding: 10px;
  font-size: 10pt;
  margin: 5px auto;
  color: #386bee;
}